* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #274690;
    --secondary: #0077b6;
    --white: #ffffff;
    --black: var(--black);
}

body {
    font-family: Segoe UI;
}

a {
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    letter-spacing: -5px;
}

.warning-para {
    font-weight: bold;
    font-size: 22px;
    color: #363636;
}

.year_para {
    font-size: 17px;
}

.tnc_class {
    font-size: 17px;
    margin: 0;
}

.tnc_class a {
    font-weight: 700;
}

.bttn.btn-primary {
    border-radius: 50px;
    line-height: 40px;
    background-color: var(--primary);
    border: none;
}

.text-primary {
    color: var(--primary) !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

/* SignUp CSS */
.signup_page {
    background: url("../images/slide1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
    position: relative;
    z-index: 1;
}

.signup_page::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: radial-gradient(var(--primary), rgb(0 0 0));
    left: 0;
    opacity: 0.4;
    z-index: 0;
}

.signup_page .form-group {
    width: 100%;
}

.form {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    height: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}

.form-control {
    border: 1px solid var(--black);
}

.form-control:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 0.25rem rgb(128 4 4 / 8%)
}

.form-check-input:checked {
    box-shadow: 0 0 0 0.25rem rgb(128 4 4 / 8%)
}

.form-check-input:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(128 4 4 / 8%)
}

/* Login CSS */
.login_page {
    background: url("../images/slide1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
    position: relative;
    z-index: 1;
}

.login_page::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: radial-gradient(var(--primary), rgb(0 0 0));
    left: 0;
    opacity: 0.4;
    z-index: 0;
}

.login_page .form-group {
    width: 100%;
}

/* accoridon style */
.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button::after {
    background: none;
    text-align: center;
    align-content: center;
    content: '+';
    font-size: 22px;
}

.accordion-button:not(.collapsed)::after {
    background: none;
    content: '-';
}

/* Search Pop Up */
.modal-content {
    border: 5px solid var(--bs-blue);
}

#buttonClickModal .modal-dialog {
    max-width: 700px;
}

.search_bttn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/*Header*/
.navbar-nav.menu_bar {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a i {
    color: var(--primary);
}

/*Footer*/
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .4rem 1rem;
    flex-wrap: wrap;
    margin: 0;
}

.footer_menu_list {
    margin: 0 auto;
}

.footer {
    padding: 20px 0;
    background: var(--primary);
}

.footer-menu li {
    list-style: none;
}

.footer-menu li:last-child::after {
    content: "";
}

.footer-cities li {
    margin: 5px 0 5px 0;
    position: relative;
    width: 20% !important;
    float: left;
    list-style: none;
}

.footer-cities li a {
    text-decoration: none;
}

/* Banner */
.home-banner {
    background: url("../images/mumbai-escort-service.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    background-position: center;
    position: relative;
}

.callgirl-banner {
    background: url("../images/about-slider1.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    background-position: center;
    position: relative;
}

.callgirl-banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: radial-gradient(#274690, #0077b6);
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

/* .home-banner {background: url("https://www.skokka.in/static/assets/easter-hero-en.9f5d7703ab53a56c8377.jpg");background-repeat: no-repeat;background-size: cover;padding: 100px 0px;background-position: center;position: relative;color: #fff;} */
.home-banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: radial-gradient(#274690, #0077b6);
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

.banner_content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.bttn.btn-warning {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
    padding-inline: 1.5rem;
    color: var(--primary);
    font-weight: 600;
    background: #fff;
    border: 1px solid var(--primary);
    border-radius: 50px;
    line-height: 40px;
    /* width: 20%; */
}

/*Content Section*/
.content_section {
    padding: 50px 0;
}

.product {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: all .5s;
    height: 100%;
}

.product:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.image-box-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    gap: 10px;
    padding: 5px 0;
    margin: 0 20px;
    margin-top: -30px;
}

.image-content {
    padding: 20px 20px 0;
}

.image-box {
    width: 100%;
    overflow: hidden;
    border-radius: 2% 2% 0 0;
}

.images {
    height: 15em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2% 2% 0 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.image-1 {
    background-image: url("../images/call-girl.jpg");
}

.image-2 {
    background-image: url("../images/sensual-massages.jpg");
}

.image-3 {
    background-image: url("../images/male-escort.jpg");
}

.image-location {
    padding-bottom: 10px;
}

.location_para {
    margin: 0 auto;
}

.top-list {
    padding: 0px 20px 0
}

.top-list li {
    list-style: none;
    line-height: 31px;
    background: url(../images/white-tick.png) no-repeat left 11px;
    padding: 3px 0 0px 25px;
}

.location_listing {
    padding: 50px 0;
}

#services_location .nav-link.active {
    border-radius: 12px 12px 0px 0px;
    background-color: var(--secondary)30;
    letter-spacing: 2px;
    line-height: 16px;
    color: var(--primary);
    border-bottom: 1px solid var(--secondary)30;
    border-top: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}

#services_location .nav-link {
    padding: 15px 30px;
    color: var(--primary);
    letter-spacing: 2px;
    line-height: 16px;
    font-weight: 600;
}

.tab-border {
    border: 1px solid var(--primary);
    padding: 50px 30px;
    background: var(--secondary)30;
    text-align: center;
}

#services_location .nav-tabs {
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services_location .nav-link:hover {
    border-bottom: 1px solid var(--secondary)30;
    border-top: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-radius: 12px 12px 0px 0px;
}

#services_location .nav-link.active:hover {
    border-bottom: 1px solid var(--secondary)30;
}

.theme-btn {
    position: relative;
    display: inline;
    overflow: hidden;
    font-size: 17px;
    padding: 8px 26px;
    background: #fff;
    line-height: 25px;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 500;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 500ms ease;
    cursor: pointer;
    z-index: 1;
}

a.theme-btn {
    text-decoration: none;
}

.location_available>.theme-btn {
    display: inline-block;
}

.horizontal_hr {
    margin: 0.5rem 0;
    border-color: var(--primary);
    opacity: 0.5;
}

.read_more_bttn {
    padding: 10px 30px;
    background: var(--secondary);
    margin-top: -20px !important;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
}

.read_more_bttn:hover {
    background: var(--primary);
    transition: all 500ms ease;
}

/*Call Girl*/
.list-callgirl li {
    list-style: none;
    margin-bottom: 10px;
}

.list-callgirl li a {
    color: var(--white);
    text-decoration: none;
}

.list-callgirl li::before {
    content: "\f560";
    font-family: 'FontAwesome';
    margin-right: 7px;
    line-height: 30px;
    color: var(--white);
}

.sticky-listing {
    position: sticky;
    top: 0;
    margin: 0 auto;
}

.call-girls-listing {
    padding: 80px 0;
}

.list-callgirl {
    text-align: center;
    background: var(--primary);
    padding: 30px 0;
    margin: 0 auto;
}

.contact-icons>a {
    background-color: var(--secondary);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 6px;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.galleries>a:hover {
    cursor: zoom-in;
}

.galleries>a>img {
    width: 100%;
}

/* carousel sytle */
.carousel.slide .carousel-control-next,
.carousel.slide .carousel-control-prev {
    width: 5%;
}

@media (max-width: 767px) {
    .navbar-brand>img {
        width: 170px;
    }

    .nav-item>a {
        display: inline-block;
        margin-block: 0.4rem;
    }
}